<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/style.css">

<meta charset="utf-8">
<title>Kennashka.com - Kenya's Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kennashka's Calculator">
<meta name="author" content="Kennashka DeSilva">
<meta name="Keywords" content="kenya calculator, kennashka calculator,
 free calculator, calculator app, calculator">

 <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129340722-1"></script>


</head>
<body>


 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">My Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#projects">Projects</a>
 
            <li class="nav-item">
              <a class="nav-link" href="https://app.acuityscheduling.com/schedule.php?owner=16888995&notembedded=1">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    
<div class="container">

<div class="row justify-content-center p-5">

<!-- <div class="card " style= "width: 22rem;">

<div class="card-body bg-transparent"> <-->
	<span class="border p-5">
<form name="my_calculator">
	<div class="text-center pb-3">
	<input type="text" name="answ">
   </div>

	<div class="row p-1" >
		<div class="col-3">
			<input type="button" value=" C " onclick="my_calculator.answ.value = '' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 0 " onclick="my_calculator.answ.value += ' 0 ' ">
		</div>
		
		<div class="col-3">
			<input type="button" value=" = " onclick="my_calculator.answ.value =  eval(my_calculator.answ.value.replace(/\s/g, ''))">
		</div>

		<div class="col-3">
			<input type="button" value=" / " onclick="my_calculator.answ.value += ' / ' ">
		</div>

	</div> <!--row-->

	<div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 1 " onclick="my_calculator.answ.value += ' 1 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 2 " onclick="my_calculator.answ.value += ' 2 ' ">	
		</div>

		<div class="col-3">
			<input type="button" value=" 3 " onclick="my_calculator.answ.value += ' 3 ' ">	
		</div>

		<div class="col-3">
		<input type="button" value=" * " onclick="my_calculator.answ.value += ' * ' ">
		</div>

	</div> <!--row-->

	<div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 4 " onclick="my_calculator.answ.value += ' 4 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 5 " onclick="my_calculator.answ.value += ' 5 ' ">		
		</div>

		<div class="col-3">
			<input type="button" value=" 6 " onclick="my_calculator.answ.value += ' 6 ' ">	
        </div>

		<div class="col-3">
			<input type="button" value=" - " onclick="my_calculator.answ.value += ' - ' ">
	    </div>
	</div> <!--row-->

	<div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 7 " onclick="my_calculator.answ.value += ' 7 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 8 " onclick="my_calculator.answ.value += ' 8 ' ">	
		</div>

	<div class="col-3">
		<input type="button" value=" 9 " onclick="my_calculator.answ.value += ' 9 ' ">	
	</div>

	<div class="col-3">
		<input type="button" value=" + " onclick="my_calculator.answ.value += ' + ' ">
	</div>

	</div> <!--row-->
<div class="text-center p-1">
	<font><a href="/"> Developed by Kennashka DeSilva </a> </font>
</div>
		


</form>
</span>

<!--
</div> 

</div>  -->

</div> <!-- row -->

</div> <!-- Container-->


    <!-- Bootstrap core JavaScript -->
   <script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>



