test-projects/*
!test-projects/*-example/
test-reports/*
!test-reports/*-example/
**/*.run
**/*.pyc
**/.DS_Store
**/Passed_*.mp4
**/Failed_*.mp4
**/Recording_*.mp4
**/Passed_*.png
**/Failed_*.png
**/.screenshots/
**/node_modules/
**/npm-debug.log
**/sikulixapi*.jar
tmp/*
reports/*
.vscode/*
report-archive/*
