# controls what test-projects to be included in the framework
test-projects/*
!test-projects/*-example/
test-projects/javatest-example/**/target/
test-reports/*
!test-reports/*-example/

# files to ignore
*.run
*.pyc
Passed_*.mp4
Failed_*.mp4
Recording_*.mp4
Passed_*.png
Failed_*.png
npm-debug.log
sikulixapi*.jar
.project

# dirs to ignore
node_modules/
report-archive/
tmp/
reports/
.DS_Store
.screenshots/
.vscode/
.settings/
